@model PessoaModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h3>Segue os dados:</h3>
    <br/>

    <p>Id: @Model.id</p>
    <p>Id: @Model.nome</p>
    <p>Id: @Model.email</p>
    <p>Id: @Model.celular</p>
</div>
